.experience-page {
  padding-top: 2rem;
}
.experience-page h2 {
    font-size: 1.8rem;
    letter-spacing: 0.1rem;
    font-weight: 700;
    border-top: 2px solid rgba(255, 255, 255, 0.164);
    padding-top: 1rem;
}

.school {
    margin-bottom: 2rem;
}

.school h2 {
    font-size: 1.8rem;
    letter-spacing: 0.1rem;
    font-weight: bolder;
}

.school h3 {
    font-size: 1.4rem;
    letter-spacing: 0.1rem;
    font-weight: 500;
}

.school h4 {
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
    font-weight: 100;
    font-style: italic;
}

.school p {
    font-size: 1.3rem;
}

.projects h3 {
    letter-spacing: 0.1rem;
    font-weight: 100;
    text-decoration: none;
}

.projects h2 {
    font-size: 1.8rem;
    letter-spacing: 0.1rem;
    font-weight: bolder;
}

.projects a {
    color: #f0f0f0;
    font-weight: 600;
    text-decoration: none;
    letter-spacing: 0.1rem;
    font-family: "Bellefair", serif;
    transition: color 0.3s ease;
    background: none;
    cursor: pointer;
    font-size: 1.7rem;
}

/* .projects a:hover {
    color: #fffffffc; 
  text-shadow: 
    0 0 1px #aa80ab6c,
    0 0 5px #aa80ab6c,
    0 0 6px #aa80ab6c,
    0 0 16px #d2667c;
    transform: translateY(-2px);
}*/

.project-details {
  list-style-type: disc; 
  list-style-position: inside;
  margin-left: 1rem;    
  margin-top: 0.5rem 0;
  margin-bottom: 0.01rem;
  font-size: 1.3rem;
  line-height: 1.6;
  color: #f0f0f0;
}

.project-details li {
  margin-bottom: 0.01rem;
  letter-spacing: 0.05rem;
}

.project-details li::marker {
  color: #ffffff;
  font-size: 1.2rem;
}

.project-link {
  color: #f0f0f0;
  font-weight: bolder;
  text-decoration: none;
  letter-spacing: 2px;
  font-family: "Bellefair", serif;
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;   
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 1.7rem; 
}

.project-link:hover,
.project-link:hover .project-icon {
  color: #fffffffc;
  text-shadow: 
    0 0 1px #aa80ab6c,
    0 0 5px #aa80ab6c,
    0 0 6px #aa80ab6c,
    0 0 16px #d2667c;
  transform: translateY(-2px);
}

/* Hover effect including icon */
.project-link:hover {
  color: #fffffffc;
  text-shadow: 
    0 0 1px #aa80ab6c,
    0 0 5px #aa80ab6c,
    0 0 6px #aa80ab6c,
    0 0 16px #d2667c;
  transform: translateY(-2px);
}

.project-link:hover .project-icon {
  filter: drop-shadow(0 0 8px #d2667c);
  transform: translateY(-2px);
  transition: all 0.3s ease;
}

.project-icon {
    font-size: 1.3rem;
}

.apps {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
    padding-bottom: 0.5rem;
}

.godot-icon {
  width: 100px;
  height: auto;
  padding-bottom: 2rem;
}

.jira-icon {
  width: 50px;
  height: auto;
  padding-bottom: 2rem;
}

.c-icon {
  width: 40px;
  height: auto;
  padding-bottom: 2rem;
}

.git-icon {
  width: 40px;
  height: auto;
  padding-bottom: 2rem;
}

.links {
    margin-top: 2rem;
    padding-bottom: 4rem;
    
}
.links a{
    color: #f0f0f0;
    font-weight: bold;
    text-decoration: none;
    letter-spacing: 2px;
    font-family: "Bellefair", serif;
    transition: color 0.3s ease;
    background: none;
    cursor: pointer;
    font-size: 1.7rem;
    display: inline-flex;
    align-items: center;
    gap: 0.4rem; 
}

.links a + a {
    margin-left: 1.5rem;
}

.links a:hover{
    color: #fffffffc; 
  text-shadow: 
    0 0 1px #aa80ab6c,
    0 0 5px #aa80ab6c,
    0 0 6px #aa80ab6c,
    0 0 16px #d2667c;
    transform: translateY(-2px);
}

.links a:hover svg {
  transform: scale(1.2);
  transition: transform 0.3s ease;
}

.glow-hover:hover {
  color: #fffffffc;
  text-shadow: 
    0 0 1px #aa80ab6c,
    0 0 5px #aa80ab6c,
    0 0 6px #aa80ab6c,
    0 0 16px #d2667c;
  transform: translateY(-2px);
}

.svelte-icon {
  width: 30px;
  height: auto;
  padding-bottom: 2rem;
}

.figma-icon {
  width: 50px;
  height: auto;
  padding-bottom: 2rem;
}

.spring-icon {
  width: 35px;
  height: auto;
  padding-bottom: 2rem;
  padding-left: 10px;
}

.type-icon {
  width: 35px;
  height: auto;
  padding-bottom: 2rem;
  padding-right: 7px;
  padding-left: 10px;
}

.stack p {
  font-size: 1.2rem;
}