.gallery-page {
  padding: 2rem;
  text-align: center;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
}

.gallery-img {
  max-width: 300px;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.5);
}
