.gallery-section {
  text-align: center;
  padding: 2rem;
  font-family: "Bellefair", serif;
}

.art {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
}

.art-item {
  display: flex;
  flex-direction: column; /* stacks title above image */
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease; /* smooth hover */
}

.pics {
  border-radius: 10px;
  width: 400px;
  height: auto;
  box-shadow: 0 4px 10px rgba(83, 20, 85, 0.3);
  transition: all 0.3s ease;
}

.project-title {
  margin: 1rem 0;
  font-size: 1.5rem;
  font-weight: bold;
  color: #f0f0f0;
  text-decoration: none;
  transition: all 0.3s ease;
}

.art-item:hover .pics {
  transform: scale(1.05); 
}

.art-item:hover .project-title {
    color: #fffffffc;
  text-shadow: 
    0 0 1px #aa80ab6c,
    0 0 5px #aa80ab6c,
    0 0 6px #aa80ab6c,
    0 0 16px #d2667c;
}
