.contact-section {
  font-family: "Bellefair", serif;
  text-align: center;
  padding: 2rem 1rem;
  color: #f0f0f0;
}

.contact-section p {
  font-size: 1.5rem;
  letter-spacing: 2px;
  margin-bottom: 1rem;
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.links a {
  display: inline-flex;
  align-items: center;
  gap: 0.4rem;
  font-weight: bold;
  text-decoration: none;
  font-size: 1.7rem;
  color: #f0f0f0;
  transition: all 0.3s ease;
  cursor: pointer;
}

.links a:hover {
  color: #fffffffc;
  text-shadow:
    0 0 1px #aa80ab6c,
    0 0 5px #aa80ab6c,
    0 0 6px #aa80ab6c,
    0 0 16px #d2667c;
  transform: translateY(-2px);
}

.links a:hover svg {
  transform: scale(1.2);
  transition: transform 0.3s ease;
}

.divider {
  width: 1px;
  height: 20px;
  background-color: #aaa;
  opacity: 0.6;
}
