.main-nav {
  background: rgba(0, 0, 0, 0.731);
  backdrop-filter: blur(5px);
  position: sticky;
  top: 0;
  z-index: 100;
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  gap: 5rem;
  padding: 8px;
  border-bottom: 2px solid #00000027;
  box-shadow: 0 19px 40px 10px rgb(0, 0, 0);
}

.main-nav a,
.main-nav button {
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
  letter-spacing: 2px;
  font-family: "Bellefair", serif;
  transition: color 0.3s ease;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
}

.main-nav a:hover,
.main-nav button:hover {
  color: #fffffffc;
  text-shadow: 
    0 0 1px #aa80ab6c,
    0 0 5px #aa80ab6c,
    0 0 6px #aa80ab6c,
    0 0 16px #d2667c;
}

.label {
  color: #f0f0f0;
  text-decoration: none;
  margin: 1.5rem;
  font-weight: bold;
  font-size: 5rem;
  letter-spacing: 1px;
  transition: text-shadow 0.3s ease, color 0.3s ease;
}

/* Dropdown container */
.group {
  position: relative;
  border-radius: 18px;
}

.group > div {
  position: absolute;
  top: 100%; 
  left: 50%;
  width: 180px;
  background-color: #070107;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transform: translateX(-50%) translateY(16px);
  transition: all 0.2s ease-in-out;
  border-radius: 18px;
}

.group:hover > div {
  opacity: 1;
  visibility: visible;
  color: #fffffffc; 
  text-shadow: 
    0 0 1px #aa80ab6c,
    0 0 5px #aa80ab6c,
    0 0 6px #aa80ab6c,
    0 0 16px #d2667c;
}

/* Dropdown items */
.group > div a {
  display: block;
  padding: 0.6rem 0.6rem;
  color: #ffffff;
  font-weight: normal;
  text-decoration: none;
  transition: background 0.25s ease;
}

.group > div a:first-child {
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
}

.group > div a:last-child {
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
}

.group > div a:hover {
  background-color: #c75ac745;
  color: #ffffff;
}
